<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>
        Welcome to Sign Up Page
    </h1>
    <p>Please Enter your data carefully</p>
    <div>
        <form action="/user" method="post">
            <label>Name</label>
            <input type="text" required name="name" placeholder="John">
            <label>Email</label>
            <input type="text" required name="email" placeholder="John@example.com">
            <label>Password</label>
            <input type="text" required name="password" placeholder="kajh78364^&%%$">
        </form>
        <button type="submit">Signup</button>
    </div>
</body>
</html>