<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Url Shortener</h1>
     <div>
<form method="POST" action="/url">
        <label>
            Enter URL
        </label>
        <input type="text" name="url" placeholder="https://abc.com/" >
    
     <button type="submit">Click me</button> </div> 
    </form>
</body>
</html>
